syntax:glob

db.sqlite3
tb_dev/*
tb_test/*
.idea/*
functional_tests/chromedriver

*.egg-info
*.pot
*.py[co]
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
.coverage
htmlcov
